.film-container{
    
    margin-bottom: 50px;
    padding: 15px;


h1{
    text-align: center;
    margin: 50px 0;
    
}

.row{
    
    gap: 15px;
    flex-wrap: nowrap;
    width: 100%;
    overflow-x: auto;



     .card{
     background-color: black;
     width: 250px;
     height: 350px;
     color: white;
     padding-left: 0;
     padding-right: 0;
     display: flex;
     flex-direction: column;
     align-items: center;
     word-break: break-word;
     position: relative;
     overflow: auto;
     

     &:hover{
         cursor: pointer;
     }

     &:hover{
         .img-container{
             img{
                 display: none;
             }
         }
     }

     &:hover{
         .film-data{
             display: block;
         }
     }

     .img-container{
         width: 100%;
         height: 100%;
         img{
             width: 100%;
             height: 100%;
             
         }
     }

     .film-data{
         width: 100%;
         height: auto;
         position: absolute;
         top: 0;
         display: none;
         font-size: 11px;
         padding: 15px;
        

        div{
            margin: 3px 0;

            span{
                font-weight: bold;
                font-size: 13px;
                margin-right: 5px;
            }

            .flag-container{
                display: inline-block;
                height: 15px;
                margin-left: 5px;
    
                  img{
                      width: 100%;
                      height: 100%;
                  }
                 
                 
             }
        } 
            

   
             
         
     }
 }
}
}